#main-header {
    background-color: green;
}

#main-heading {
    color: greenyellow;
    justify-content: left;
    margin-right: 30px;
}

#profile-button {
    background-color: greenyellow;
    color: black;
}

#srchProfile {
    background-color: greenyellow;
    color: black;	
}

#addProfile {
	background-color: black;
    color: greenyellow;	
}

#getProfile {
	background-color: black;
    color: greenyellow;	
}

#modProfile {
	background-color: black;
    color: greenyellow;	
}

#main-footer {
    position: fixed;
    bottom: 0;
    width: 100%;
}

#main-page-name {
    background-color: black;
}

#main-page-heading {
    color: greenyellow;
    text-align: center;
}

.center {
  text-align: center;

}

#photoFit {
  width: 100%;
  text-align: center;
  position: relative;
}

#removeItemButton {
  color: red	
}