
#main-header {
    background-color: green;
}

#main-heading {
    color: greenyellow;
    justify-content: left;
    margin-right: 30px;
}

#profile-button {
    background-color: greenyellow;
    color: black;
}

#main-footer {
    position: fixed;
    bottom: 0;
    width: 100%;
}
